################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/versioning/.vs/versioning/v16/Server/sqlite3/db.lock
versioning/.vs/versioning/v16/Server/sqlite3/storage.ide
versioning/.vs/versioning/v16/Server/sqlite3/storage.ide
versioning/.vs/versioning/v16/Server/sqlite3/storage.ide-wal
versioning/.vs/versioning/v16/Server/sqlite3/storage.ide-shm
versioning/.vs/versioning/v16/Server/sqlite3/storage.ide
versioning/.vs/versioning/v16/.suo
